<a href="https://colab.research.google.com/github/HS587885/DigitalAnalytics_intermediateProgramming/blob/main/Week6_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 실습예제 1

In [ ]:
# 실습예제 2

def grade(s):
  if s>=90:
    result='A'
  elif s>=80:
    result='B'
  elif s>=70:
    result='C'
  else:
    result='F'
  print(result)

# 메인코드
score=int(input('score:'))
grade(score)

score:78
C

In [ ]:
# 실습예제 2-2
def grade(s):
  if s>=90:
    result='A'
  elif s>=80:
    result='B'
  elif s>=70:
    result='C'
  else:
    result='F'
  print(result)

# 메인코드
score=[]
n=int(input('count:'))
for i in range(n):
  s=int(input('score:'))
  score.append(s)
for i in range(n):
  grade(score[i])

count:5
score:100
score:90
score:50
score:40
score:0
A
A
F
F
F

## 가변 매개변수 *args

In [ ]:
def show(*args):
  print(args)
  print(type(args))

show(10,20)
show(10,20,30)

(10, 20)
<class 'tuple'>
(10, 20, 30)
<class 'tuple'>

In [ ]:
def average(*score): # 튜플
  print(score)
  print(type(score))
  for i in range(len(score)):
    print(score[i])

# 함수의 호출
average(100,100)    
average(10,20,30)

(100, 100)
<class 'tuple'>
100
100
(10, 20, 30)
<class 'tuple'>
10
20
30

In [ ]:
def average(*score): # 튜플
  hap=0
  for i in range(len(score)):
    hap+=score[i]
  avg=hap/len(score)
  print(f'avg : {avg}')

average(100,100)    
average(50,60,70)

avg : 100.0
avg : 60.0

## 기본매개변수=디폴트매개변수

In [ ]:
def print_n(value,n=2):
  for i in range(n):
    print(value)

print_n('Hello')

Hello
Hello

In [ ]:
help(print) # 가변매개변수, 키워드매개변수

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## 매개변수의 변수 값 전달 방식
- 주소에 의한 호출(call by reference)

In [ ]:
def func(x):
  print(id(x))
  x=10
  print(f'함수{x}')
  print(id(x))

x=5
print(id(x))
func(x)
print(f'메인{x}')

93873364818560
93873364818560
함수10
93873364818720
메인5

In [ ]:
# swap알고리즘
def swap(aa,bb):
  print(id(aa),id(bb))
  return bb,aa

a,b=10,5
print(id(a),id(b))
print('before:',(a,b))
result=swap(a,b)
print(id(a),id(b))
print('after:',result)

93873364818720 93873364818560
before: (10, 5)
93873364818720 93873364818560
93873364818720 93873364818560
after: (5, 10)

## 사용자 정의 모듈

In [ ]:
import main

main.study()
main.eat()
print(main.name)

공부하다
먹다
새로이

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 람다함수(표현식)

In [ ]:
def plus(x,y):
  return x+y
print(plus(10,20))

30

In [ ]:
# 함수를 호출하려면 변수에 할당해주어야한다.
lambda x,y:x+y

In [ ]:
result=lambda x,y:x+y 
result(10,20)
type(result)

function

In [ ]:
def plus(x):
  return x+5

list(map(plus,[10,20,30]))

[15, 25, 35]

In [ ]:
# 람다 표현식을 인수로 사용
list(map(lambda x:x+5,[10,20,30]))

[15, 25, 35]

# 모듈 불러오는 방법

In [ ]:
import random
r=random.randint(1,10)
print(r)

4

In [ ]:
import random as rd
rd.randrange(10)

In [ ]:
from random import *
randint(1,10)

In [ ]:
#map 함수 활용
num=[1.5,2.8,4.5,1.1]

for i in range(len(num)):
    num[i]=int(num[i])
print(num)

num=['10','30','40']
result=list(map(int,num))
print(result)

# 응용문제 1 : 문자열 반복

In [ ]:
def print_str(s,c):
    for i in range(c):
        print(s)
'''
def print_str(s,c):
  print(s*c)
'''
# 메인코드
string=input('문자열:')
cnt=int(input('횟수:'))
print_str(string,cnt)

# 응용문제 2 : 계산기 프로그램

In [ ]:
def add(n1,n2):
  return n1+n2

def sub(n1,n2):
  if n1>n2:
    result=n1-n2
  else:
    result=n2-n1
  return result

def mul(n1,n2):
  return n1*n2

def div(n1,n2):
  return n1/n2

# main

while True:
  n1=int(input('num1:'))
  if n1==0:break
  n2=int(input('num2:'))
  prompt='1:add 2:sub 3:mum 4:div => '
  select=int(input(prompt))
  if select==1:
    print(add(n1,n2))
  elif select==2:
    print(sub(n1,n2))
  elif select==3:
    print(mul(n1,n2))
  elif select==4:
    if n2==0:
      print('not divide by 0')
    else:
      print(div(n1,n2))

num1:10
num2:20
1:add 2:sub 3:mum 4:div => 1
30
num1:10
num2:0
1:add 2:sub 3:mum 4:div => 4
not divide by 0
num1:10
num2:5
1:add 2:sub 3:mum 4:div => 4
2.0
num1:0

*이탤릭체 텍스트*
# 응용문제 3 : 커피자판기 프로그램

In [ ]:
# 함수정의
def menu_List(): # 메뉴
    print('** 자판기 판매 메뉴 **')
    for i in coffee: 
        print(f'{i}:{coffee[i]}')

def change(money): # 동전교환  
    c500 = money//500 
    change=money%500    
    c100 = change//100 #    
    print(f'500원 {c500}개 반환')
    print(f'100원 {c100}개 반환')

def m_Input(): # 투입
     money=int(input('돈을 투입하세요 : '))
     return money

def m_calc():
    global money
    if money <coffee[m][1]:#
        print('잔액부족')
        money=m_Input()
    else:
        print(coffee[m][0],'구입완료') #
        money=money-coffee[m][1]#
        
# 메인코드    
coffee={1:['뜨아',2000],2:['아아',3000],3:['라떼',3500]}
menu_List()       
print()
money=m_Input() # 전역변수
while True:
    m=int(input('메뉴 선택 (종료:0) : '))
    if m==0:break
    m_calc()    
    print('잔액: ', money)
    print()
      
print('자판기 종료, 동전 반환')
change(money)

** 자판기 판매 메뉴 **
1:['뜨아', 2000]
2:['아아', 3000]
3:['라떼', 3500]

돈을 투입하세요 : 10000
메뉴 선택 (종료:0) : 1
뜨아 구입완료
잔액:  8000

메뉴 선택 (종료:0) : 3
라떼 구입완료
잔액:  4500

메뉴 선택 (종료:0) : 3
라떼 구입완료
잔액:  1000

메뉴 선택 (종료:0) : 2
잔액부족
돈을 투입하세요 : 0
잔액:  0

메뉴 선택 (종료:0) : 0
자판기 종료, 동전 반환
500원 0개 반환
100원 0개 반환

*이탤릭체 텍스트*# 응용문제 4 : 스마트폰 연락처 관리 프로그램

In [ ]:

def add(name): # 추가
  if name in addr:
    print('already exists')
  else :
    phone=input('phone : ')
    addr[name]=phone
        
def update(name) : # 수정
  if name in addr:
    phone=input('phone : ')
    addr[name] = phone
  else:
    print('not Found')

def delete(name) : # 삭제
  if name in addr:
    del addr[name]# addr.pop(name)
  else:
    print('not Found')

def search(name) : # 이름으로 검색
  if name in addr:
      print(name, addr[name])
  else :
      print('not Found')

def all_search(): # 전체 검색
  for k, v in addr.items():
      print(f'{k} : {v}')

def scan(s):
  result = input(s+' name : ')
  return result

addr = {}

while True :
  prompt='[ 1) 추가 2) 수정 3) 삭제 4) 검색 5) 전체검색 6)종료 ] : '
  selection = int(input(prompt))
  
  if selection == 0 : break
  if selection == 1:
    name = scan('add')
    add(name)
  elif selection == 2:
    name = scan('update')
    update(name)
  elif selection == 3:
    name = scan('delete')
    delete(name)
  elif selection ==4:
    name = scan('search')
    search(name)
  elif selection ==5:
    all_search()

[ 1) 추가 2) 수정 3) 삭제 4) 검색 5) 전체검색 6)종료 ] : 1
add namehee
phone : 010
[ 1) 추가 2) 수정 3) 삭제 4) 검색 5) 전체검색 6)종료 ] : 4
search namehee
hee 010
[ 1) 추가 2) 수정 3) 삭제 4) 검색 5) 전체검색 6)종료 ] : 5
hee : 010
[ 1) 추가 2) 수정 3) 삭제 4) 검색 5) 전체검색 6)종료 ] : 3
delete namehee
[ 1) 추가 2) 수정 3) 삭제 4) 검색 5) 전체검색 6)종료 ] : 0

# 응용문제 5 : 인공지능을 위한 빅데이터 분석의 예제
- 인공지능은 입력 데이터로 학습을 시켜야 한다. 입력데이터는 training_data를 사용, 2차원 리스트로 구성되어있다. flower_counts()에서 입력데이터에 대한 꽃들의 개수를 카운트하여 그 정보를 딕셔너리 형식으로 저장한 후 출력해보자.
- 컬렉션자료형(리스트, 딕셔너리)
- 함수정의와 호출
- 제어문

In [ ]:
def flower_counts(data):
  for row in data:
    label=row[-1]
    value=flower.get(label)
    if value==None:
      flower[label]=1
    else:
      flower[label]+=1    
  

training_data=[['노랑',2,'개나리'],
               ['흰색',5,'벚꽃'],
               ['노랑',5,'개나리'],
               ['흰색',2,'목련'],
               ['분홍색',2,'진달래']]
flower={}
flower_counts(training_data)
print(flower)

{'개나리': 2, '벚꽃': 1, '목련': 1, '진달래': 1}

In [ ]:
def flower_counts(data):
  for row in data:
    label=row[-1]
    if label not in flower:
      flower[label]=1
    else:
      flower[label]+=1
  

training_data=[['노랑',2,'개나리'],
               ['흰색',5,'벚꽃'],
               ['노랑',5,'개나리'],
               ['흰색',2,'목련'],
               ['분홍색',2,'진달래']]
flower={}
flower_counts(training_data)
print(flower)

{'개나리': 2, '벚꽃': 1, '목련': 1, '진달래': 1}

In [ ]:
training_data=[['노랑', 2, '개나리'],
           ['흰색', 5, '벚꽃'],
           ['노랑', 5, '개나리'],
           ['흰색', 2, '목련'],
           ['분홍색', 2, '진달래']
             ]
td=training_data

['노랑', 2, '개나리', '흰색', 5, '벚꽃', '노랑', 5, '개나리', '흰색', 2, '목련', '분홍색', 2, '진달래']